html{ 
    background-color: #ffc4d8;


}

h2{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style:normal;
    font-variation-settings:"wdth" 100;
    font-size:xx-large;
}

h2{
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:xxx-large;
}
.centerimage{margin-left: 37%}
.center{text-align: center;}



  
